<!-- Fix for the table row binding issue -->
<div class="flex">
  <!-- Sidebar - Uncomment if needed -->
  <aside class="flex-1">
    <div class="bg-white !h-screen">
      <div class="!p-3">
        <app-input
          [label]="'Search'"
          (input)="applySearch($event)"
          [value]="searchText"
        ></app-input>
      </div>
      <mat-list role="list">
        <mat-list-item
          *ngFor="let item of filteredTableItems"
          role="listitem"
          class="border-b border-gray-200 cursor-pointer"
          [ngClass]="{ 'bg-primary text-primary': selectedItem === item }"
          (click)="selectItem(item)"
        >
          <div class="flex gap-2 items-center">
            <img src="../../../assets/table.svg" alt="" />
            <div
              class="font-normal text-sm"
              [ngClass]="{ ' text-white': selectedItem === item }"
            >
              {{ item }}
            </div>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  </aside>

  <main class="flex-3">
    <div class="bg-white !m-4">
      <div class="!pt-4 !pb-2 !ps-6">
        Selected Table:

        <span class="font-semibold">
          {{ selectedItem }}
        </span>
      </div>
      <app-query-builder [selectedItem]="selectedItem"></app-query-builder>
    </div>
  </main>
</div>
