<div class="!mb-5 !p-3 !bg-gray-100 border-[1px] border-[#e0e0e0] rounded-b-md">
  <form #f="ngForm">
    <query-builder
      [(ngModel)]="query"
      name="queryBuilder"
      [config]="currentConfig"
      [allowRuleset]="allowRuleset"
      [allowCollapse]="allowCollapse"
      [persistValueOnFieldChange]="persistValueOnFieldChange"
      [emptyMessage]="emptyRulesetMessage"
    >
      <ng-container
        *queryButtonGroup="
          let ruleset;
          let addRule = addRule;
          let addRuleSet = addRuleSet;
          let removeRuleSet = removeRuleSet;
          let getDisabledState = getDisabledState
        "
      >
        <div class="flex items-center gap-2 !my-2">
          <button
            (click)="addRule()"
            [disabled]="getDisabledState()"
            mat-icon-button
            matTooltip="Add condition"
            aria-label="Icon to add condition"
          >
            <mat-icon>
              <span class="material-symbols-outlined"> add_box </span>
            </mat-icon>
          </button>
          <button
            mat-icon-button
            (click)="addRuleSet()"
            [disabled]="getDisabledState()"
            matTooltip="Add condition group"
            aria-label="Icon to add condition group"
          >
            <mat-icon>
              <span class="material-symbols-outlined"> library_add </span>
            </mat-icon>
          </button>

          <button
            mat-icon-button
            matTooltip="Remove condition group"
            aria-label="Icon to remove condition group"
            *ngIf="removeRuleSet"
            (click)="removeRuleSet()"
          >
            <mat-icon>
              <span class="material-symbols-outlined text-red-500">
                delete
              </span>
            </mat-icon>
          </button>
        </div>
      </ng-container>
      <ng-container *queryRemoveButton="let rule; let removeRule = removeRule">
        <button
          type="button"
          mat-icon-button
          (click)="removeRule(rule)"
          matTooltip="Remove condition"
        >
          <mat-icon class="!text-red-500">delete</mat-icon>
        </button>
      </ng-container>
      <ng-container *querySwitchGroup="let ruleset; let onChange = onChange">
        <div class="!mt-2">
          <app-toggle-button
            [(ngModel)]="ruleset.condition"
            [ngModelOptions]="{ standalone: true }"
            (ngModelChange)="onChange($event)"
          >
          </app-toggle-button>
          <!-- <mat-button-toggle-group
            *ngIf="ruleset"
            [(ngModel)]="ruleset.condition"
            [ngModelOptions]="{ standalone: true }"
            (ngModelChange)="onChange($event)"
            name="fontStyle"
            aria-label="Font Style"
          >
            <mat-button-toggle value="and">AND</mat-button-toggle>
            <mat-button-toggle value="or">OR</mat-button-toggle>
          </mat-button-toggle-group> -->
        </div>
      </ng-container>
      <ng-container
        *queryEntity="
          let rule;
          let entities = entities;
          let onChange = onChange
        "
      >
        <mat-form-field>
          <mat-select
            [(ngModel)]="rule.entity"
            (ngModelChange)="onChange($event, rule)"
            [ngModelOptions]="{ standalone: true }"
          >
            <mat-option *ngFor="let entity of entities" [value]="entity.value">
              {{ entity.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>
      <ng-container
        *queryField="
          let rule;
          let fields = fields;
          let onChange = onChange;
          let getFields = getFields
        "
      >
        <mat-form-field>
          <mat-select
            [(ngModel)]="rule.field"
            (ngModelChange)="onChange($event, rule)"
            [ngModelOptions]="{ standalone: true }"
          >
            <mat-option
              *ngFor="let field of getFields(rule.entity)"
              [value]="field.value"
            >
              {{ field.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>

      <!-- Operators -->
      <ng-container
        *queryOperator="
          let rule;
          let operators = operators;
          let onChange = onChange
        "
      >
        <mat-form-field *ngIf="rule.operator" [style.width.px]="150">
          <mat-select
            [(ngModel)]="rule.operator"
            (ngModelChange)="onChange(rule)"
            [ngModelOptions]="{ standalone: true }"
          >
            <mat-option *ngFor="let value of operators" [value]="value">
              {{ value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>
      <ng-container
        *queryInput="let rule; type: 'boolean'; let onChange = onChange"
      >
        <mat-checkbox
          [(ngModel)]="rule.value"
          (ngModelChange)="onChange()"
        ></mat-checkbox>
      </ng-container>

      <ng-container
        *queryInput="
          let rule;
          let field = field;
          let options = options;
          type: 'category';
          let onChange = onChange
        "
      >
        <mat-form-field>
          <mat-select
            [(ngModel)]="rule.value"
            (ngModelChange)="onChange()"
            [ngModelOptions]="{ standalone: true }"
          >
            <mat-option *ngFor="let opt of options" [value]="opt.value">
              {{ opt.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>
      <ng-container
        *queryInput="
          let rule;
          let field = field;
          let options = options;
          type: 'slider';
          let onChange = onChange
        "
      >
        <span *ngIf="false">
          <mat-slider min="0" max="100" step="10" discrete>
            <input
              matSliderThumb
              [(ngModel)]="rule.value.percentage"
              (ngModelChange)="onChange()"
              [ngModelOptions]="{ standalone: true }"
            />
          </mat-slider>
          <span>{{ rule.value.percentage }}%</span>
        </span>

        <span *ngIf="rule.operator === 'BETWEEN'">
          <mat-form-field [style.width.px]="100">
            <mat-label>Min Value</mat-label>
            <input type="text" matInput />
          </mat-form-field>

          <span>to </span>
          <mat-form-field [style.width.px]="100">
            <mat-label>Max Value</mat-label>
            <input type="text" matInput />
          </mat-form-field>
        </span>
        <span>
          <mat-form-field
            *ngIf="
              rule.operator !== 'BETWEEN' &&
              rule.operator !== 'IS_NOT_NULL' &&
              rule.operator !== 'IS_NULL'
            "
            [style.width.px]="100"
          >
            <mat-label>Value</mat-label>
            <input type="text" matInput />
          </mat-form-field>
        </span>
      </ng-container>
      <ng-container
        *queryInput="let rule; type: 'date'; let onChange = onChange"
      >
        <mat-form-field class="example-form-field">
          <mat-date-range-input
            [formGroup]="campaignOne"
            [rangePicker]="campaignOnePicker"
            [comparisonStart]="campaignOne.value.start"
            [comparisonEnd]="campaignOne.value.end"
          >
            <input
              matStartDate
              placeholder="Start date"
              formControlName="start"
            />
            <input matEndDate placeholder="End date" formControlName="end" />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="campaignOnePicker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
        </mat-form-field>
      </ng-container>
      <ng-container
        *queryInput="
          let rule;
          let options = options;
          type: 'multiselect';
          let onChange = onChange
        "
      >
        <mat-form-field [style.width.px]="300">
          <mat-select
            [(ngModel)]="rule.value"
            multiple
            (ngModelChange)="onChange()"
            [ngModelOptions]="{ standalone: true }"
          >
            <mat-option *ngFor="let opt of options" [value]="opt.value">
              {{ opt.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>
      <ng-container
        *queryInput="
          let rule;
          let field = field;
          type: 'number';
          let onChange = onChange
        "
      >
        <mat-form-field [style.width.px]="50">
          <input
            matInput
            [(ngModel)]="rule.value"
            type="number"
            (ngModelChange)="onChange()"
            [name]="getUniqueName('number', rule)"
            required
          />
        </mat-form-field>
      </ng-container>
      <ng-container
        *queryInput="
          let rule;
          let field = field;
          type: 'string';
          let onChange = onChange
        "
      >
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="rule.value"
            (ngModelChange)="onChange()"
            [ngModelOptions]="{ standalone: true }"
          />
        </mat-form-field>
      </ng-container>
      <ng-container
        *queryInput="
          let rule;
          let field = field;
          type: 'textarea';
          let onChange = onChange
        "
      >
        <mat-form-field>
          <textarea
            matInput
            [(ngModel)]="rule.value"
            (ngModelChange)="onChange()"
            [ngModelOptions]="{ standalone: true }"
          >
          </textarea>
        </mat-form-field>
      </ng-container>
    </query-builder>
  </form>
  <!-- <p>Form value: {{ f.value | json }}</p>
  <p>Form valid: {{ f.valid }}</p> -->
</div>
