<div class="flex">
  <aside class="flex-1">
    <div class="bg-white !h-screen">
      <div class="!p-3">
        <app-input
          [label]="'Search'"
          (input)="applySearch($event)"
          [value]="searchText"
        ></app-input>
      </div>
      <mat-list role="list">
        <mat-list-item
          *ngFor="let item of filteredTableItems"
          role="listitem"
          class="border-b border-gray-200 cursor-pointer"
          [ngClass]="{ 'bg-primary text-primary': selectedItem === item }"
          (click)="selectItem(item)"
        >
          <div class="flex gap-2 items-center">
            <img src="../../../assets/table.svg" alt="" />
            <div
              class="font-normal text-sm"
              [ngClass]="{ ' text-white': selectedItem === item }"
            >
              {{ item }}
            </div>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  </aside>

  <main class="flex-grow">
    <div class="bg-white !m-4">
      <div class="flex items-center justify-between !px-2">
        <div class="flex">
          <div class="!p-4 !bg-[#F0F4FF] !m-5">
            <div class="text-xs">Obfuscation Plan</div>
            <div *ngIf="this.currentDomain === 'utility'" class="text-md">
              {{
                obsControlData?.obsControlName
                  ? obsControlData?.obsControlName
                  : obsControlData?.jobControlName ||
                    "Utility Account Obfuscation"
              }}
            </div>
            <div *ngIf="this.currentDomain === 'healthcare'" class="text-md">
              {{
                obsControlData?.obsControlName
                  ? obsControlData?.obsControlName
                  : obsControlData?.jobControlName ||
                    "Membership & Policy Data Obfuscation"
              }}
            </div>
          </div>
          <div class="!p-4 !bg-[#F0F4FF] !m-5">
            <div class="text-xs">Obfuscation Plan Description</div>
            <div class="text-md" *ngIf="this.currentDomain === 'utility'">
              {{
                obsControlData?.obsControlDescription
                  ? obsControlData?.obsControlDescription
                  : obsControlData?.jobControlDescription ||
                    "Obfuscate utility accounts for non-production environments."
              }}
            </div>
            <div class="text-md" *ngIf="this.currentDomain === 'healthcare'">
              {{
                obsControlData?.obsControlDescription
                  ? obsControlData?.obsControlDescription
                  : obsControlData?.jobControlDescription ||
                    "Extracts details in customer memberships, policies, and eligibility for staging."
              }}
            </div>
          </div>
        </div>
        <div>
          <app-button
            text="Save"
            (click)="navigateTo()"
            variant="success"
          ></app-button>
        </div>
      </div>
      <div class="!ms-5">
        <div class="flex items-center justify-between mx-2">
          <div>Set Obfuscation Strategies</div>
          <div class="flex">
            <div>
              <button
                [disabled]="isAutoPlanDisabled"
                color="primary"
                (click)="askLLM()"
                mat-fab
              >
                <div style="font-size: 30px">✨</div>
              </button>
            </div>

            <button
              class="ms-4"
              color="primary"
              (click)="resetLLM()"
              [disabled]="isResetDisabled"
              mat-fab
            >
              🔄
            </button>
          </div>
        </div>

        <div class="table-container !mt-4">
          <!-- <mat-form-field>
              <mat-label>Select Table</mat-label>
              <mat-select
                [(value)]="selectedTable"
                (selectionChange)="onTableChange()"
              >
                <mat-option
                  *ngFor="let table of tableData.tables"
                  [value]="table.tableName"
                >
                  {{ table.tableName }}
                </mat-option>
              </mat-select>
            </mat-form-field> -->

          <table
            mat-table
            [dataSource]="dataSource"
            class="mat-elevation-z8"
            multiTemplateDataRows
          >
            <ng-container matColumnDef="expand">
              <th mat-header-cell *matHeaderCellDef aria-label="row actions">
                &nbsp;
              </th>
              <td mat-cell *matCellDef="let element">
                <button
                  *ngIf="element.isExpandable"
                  class="bg-primary text-white rounded-xs !h-[24px] !w-[24px] !cursor-pointer"
                  aria-label="expand row"
                  (click)="
                    expandedElement =
                      expandedElement === element ? null : element;
                    $event.stopPropagation()
                  "
                >
                  <mat-icon
                    *ngIf="expandedElement !== element"
                    class="!p-[0.5px]"
                    >add</mat-icon
                  >
                  <mat-icon
                    *ngIf="expandedElement === element"
                    class="!p-[0.5px]"
                    >remove</mat-icon
                  >
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox
                  color="primary"
                  (change)="$event ? toggleAllRows() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()"
                  [aria-label]="checkboxLabel()"
                  [disabled]="valueSelection()"
                ></mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox
                  color="primary"
                  (click)="$event.stopPropagation()"
                  (change)="$event ? selection.toggle(row) : null"
                  [checked]="selection.isSelected(row)"
                  [aria-label]="checkboxLabel(row)"
                  [disabled]="isRowDisabledForPerID(row)"
                ></mat-checkbox>
              </td>
            </ng-container>

            <!-- Column Name Column -->
            <ng-container matColumnDef="columnName">
              <th mat-header-cell *matHeaderCellDef>Column Name</th>
              <td mat-cell *matCellDef="let element">
                {{ element.columnName }}
              </td>
            </ng-container>

            <!-- Obfuscation Strategy Column -->
            <ng-container matColumnDef="obfStrategy">
              <th mat-header-cell *matHeaderCellDef>Obfuscation Strategy</th>
              <td mat-cell *matCellDef="let element; let i = index">
                <mat-form-field appearance="fill" class="!mt-2">
                  <mat-label>Select an option</mat-label>
                  <mat-select
                    [(ngModel)]="element.obfStrategy"
                    [disabled]="isDropdownDisabled(element)"
                  >
                    <mat-option
                      *ngFor="let strategy of obfStrategies"
                      [value]="strategy"
                    >
                      {{ strategy }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
            </ng-container>

            <!-- Obfuscation Rules Column -->
            <ng-container matColumnDef="obfRules">
              <th mat-header-cell *matHeaderCellDef>Obfuscation Rules</th>
              <td mat-cell *matCellDef="let element; let i = index">
                <mat-form-field appearance="fill" class="!mt-2">
                  <mat-label>Select an option</mat-label>
                  <mat-select
                    [(ngModel)]="element.obfRules.first"
                    [disabled]="isDropdownDisabled(element)"
                  >
                    <mat-option *ngFor="let rule of obsRules" [value]="rule">
                      {{ rule }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill" class="!ms-4 !mt-2">
                  <mat-label>Select an option</mat-label>
                  <mat-select
                    [(ngModel)]="element.obfRules.second"
                    [disabled]="isDropdownDisabled(element)"
                  >
                    <mat-option
                      *ngFor="let rule of obsRulesNumbers"
                      [value]="rule"
                    >
                      {{ rule }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
            </ng-container>

            <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
            <ng-container matColumnDef="expandedDetail">
              <td
                mat-cell
                *matCellDef="let element"
                [attr.colspan]="displayedColumns.length"
              >
                <div
                  class="element-detail"
                  [@detailExpand]="
                    element == expandedElement ? 'expanded' : 'collapsed'
                  "
                >
                  <div class="!border-[0.5px] !border-gray-400">
                    <!-- Loop through each option in the options array -->
                    <div
                      *ngFor="
                        let option of element.options;
                        let optionIndex = index
                      "
                    >
                      <div
                        class="flex justify-between !gap-3 !px-4 !pt-5 !pb-1"
                      >
                        <!-- condition on -->
                        <mat-form-field appearance="fill" class="!w-[200px]">
                          <mat-label class="text-[14px]"
                            >Condition On</mat-label
                          >
                          <mat-select
                            [(ngModel)]="option.selectedOnCondition"
                            [disabled]="!option.isEditing"
                          >
                            <mat-option
                              *ngFor="let c of conditions"
                              [value]="c"
                              [matTooltip]="c"
                              matTooltipPosition="above"
                            >
                              {{ c }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>

                        <!-- condition -->
                        <mat-form-field appearance="fill" class="!w-[120px]">
                          <mat-label class="text-[14px]">Condition</mat-label>
                          <mat-select
                            [(ngModel)]="option.selectedOperator"
                            [disabled]="!option.isEditing"
                          >
                            <mat-option
                              *ngFor="let op of operators"
                              [value]="op"
                              [matTooltip]="op"
                              matTooltipPosition="above"
                            >
                              {{ op }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>

                        <!--obfuscation strategy -->
                        <mat-form-field appearance="fill" class="!w-[120px]">
                          <mat-label class="text-[14px]">Value</mat-label>
                          <mat-select
                            [(ngModel)]="option.selectedValue"
                            [disabled]="!option.isEditing"
                          >
                            <mat-option
                              *ngFor="
                                let val of getDropdownOptions(
                                  selectedTable,
                                  element.columnName
                                )
                              "
                              [value]="val"
                              [matTooltip]="val"
                              matTooltipPosition="above"
                            >
                              {{ val }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>

                        <!-- obfuscation strategy -->
                        <mat-form-field appearance="fill" class="!w-[180px]">
                          <mat-label class="text-[14px]"
                            >Obfuscation Strategy</mat-label
                          >
                          <mat-select
                            [(ngModel)]="option.selectedObfStrategy"
                            [disabled]="!option.isEditing"
                          >
                            <mat-option
                              *ngFor="let strategy of obfStrategies"
                              [value]="strategy"
                              [matTooltip]="strategy"
                              matTooltipPosition="above"
                            >
                              {{ strategy }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>

                        <!-- obfuscation rules -->
                        <mat-form-field appearance="fill" class="!w-[160px]">
                          <mat-label class="text-[14px]">Rules</mat-label>
                          <mat-select
                            [(ngModel)]="option.selectedObfRule"
                            [disabled]="!option.isEditing"
                          >
                            <mat-option
                              [matTooltip]="rule"
                              matTooltipPosition="above"
                              *ngFor="let rule of obsRules"
                              [value]="rule"
                            >
                              {{ rule }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>

                        <!-- input value -->
                        <mat-form-field appearance="fill" class="!w-[80px]">
                          <mat-label class="!text-[14px]">Input</mat-label>

                          <input
                            matInput
                            [(ngModel)]="option.inputValue"
                            [disabled]="!option.isEditing"
                          />
                        </mat-form-field>

                        <!-- Action buttons -->
                        <div class="flex items-center gap-3 !mb-3">
                          <!-- Delete button -->
                          <button
                            (click)="toggleEditOption(option)"
                            [ngClass]="{
                              'edit-btn': !option.isEditing,
                              'add-btn': option.isEditing
                            }"
                          >
                            <img
                              [src]="
                                !option.isEditing
                                  ? '../../../assets/edit-pencil.svg'
                                  : '../../../assets/device-floppy (4) 1.svg'
                              "
                              alt=""
                            />
                          </button>

                          <button
                            (click)="removeOption(element, optionIndex)"
                            class="delete-btn"
                          >
                            <img src="../../../assets/trash (2) 3.svg" alt="" />
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="flex items-center !ps-4 !pb-4">
                      <app-button
                        (clicked)="addOption(element)"
                        text="Add Condition"
                        variant="primary"
                      ></app-button>
                    </div>
                  </div>
                </div>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

            <!-- Data Row -->
            <tr
              mat-row
              *matRowDef="let element; columns: displayedColumns"
              class="element-row"
              [class.expanded-row]="expandedElement === element"
              (click)="
                element.isExpandable &&
                  (expandedElement =
                    expandedElement === element ? null : element)
              "
            ></tr>

            <!-- Expanded Detail Row -->
            <tr
              mat-row
              *matRowDef="let row; columns: ['expandedDetail']"
              class="detail-row"
            ></tr>
          </table>

          <mat-paginator
            [pageSizeOptions]="[10, 15, 20]"
            showFirstLastButtons
            aria-label="Select page of periodic elements"
          >
          </mat-paginator>
        </div>
      </div>
    </div>
  </main>
</div>
