<!-- Modern sidebar -->
<aside class="sidebar">
  <!-- <app-navbar></app-navbar> -->
  <div class="sidebar-header">
    <div class="clinic-logo">
      <img src="assets/do_logo.png" alt="Clinic Logo" />
    </div>
  </div>

  <nav class="sidebar-nav">
    <ul class="nav-list">
      <li
        class="nav-item flex items-center justify-center"
        routerLinkActive="active"
      >
        <a class="nav-link" routerLink="/dashboard">
          <!-- <mat-icon>dashboard</mat-icon> -->
          <div class="flex flex-col items-center justify-center">
            <mat-icon>
              <span class="material-symbols-outlined">home</span>
            </mat-icon>

            <div>
              <span class="text-xs font-bold">Dashboard</span>
            </div>
          </div>
        </a>
      </li>
      <li
        class="nav-item flex items-center justify-center"
        routerLinkActive="active"
      >
        <a class="nav-link" routerLink="/configuration">
          <div class="flex flex-col items-center justify-center">
            <mat-icon>
              <span class="material-symbols-outlined"> settings </span>
            </mat-icon>

            <div>
              <span class="text-xs font-bold">Configuration</span>
            </div>
          </div>
        </a>
      </li>
      <li
        class="nav-item flex items-center justify-center"
        routerLinkActive="active"
      >
        <a class="nav-link" routerLink="/process">
          <div class="flex flex-col items-center justify-center">
            <mat-icon>
              <span class="material-symbols-outlined"> rotate_right </span>
            </mat-icon>

            <div>
              <span class="text-xs font-bold">Process</span>
            </div>
          </div>
        </a>
      </li>
      <li
        class="nav-item flex items-center justify-center"
        routerLinkActive="active"
      >
        <a class="nav-link" routerLink="/tracking">
          <div class="flex flex-col items-center justify-center">
            <mat-icon>
              <span class="material-symbols-outlined">schedule</span>
            </mat-icon>

            <div>
              <span class="text-xs font-bold">Tracking</span>
            </div>
          </div>
        </a>
      </li>
      <li class="nav-item flex items-center justify-center">
        <a class="nav-link" routerLink="/history">
          <div class="flex flex-col items-center justify-center">
            <mat-icon>
              <span class="material-symbols-outlined">history</span>
            </mat-icon>

            <div>
              <span class="text-xs font-bold">History</span>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </nav>
</aside>
