@use "@angular/material" as mat;

// Include the common styles for Angular Material
@include mat.core();

// Define a custom dark blue palette based on the image
$custom-dark-blue-palette: (
  50: #e8eaf6,
  100: #c5cae9,
  200: #9fa8da,
  300: #7986cb,
  400: #5c6bc0,
  500: #2c4875,
  // Your main dark blue color
  600: #263d66,
  700: #1f3356,
  800: #182847,
  900: #0f1d38,
  A100: #8c9eff,
  A200: #536dfe,
  A400: #3f51b5,
  A700: #2c4875,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: white,
    A400: white,
    A700: white,
  ),
);

$custom-primary: mat.define-palette($custom-dark-blue-palette);

$custom-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$custom-warn: mat.define-palette(mat.$red-palette);

// Create the theme object
$custom-theme: mat.define-light-theme(
  (
    color: (
      primary: $custom-primary,
      accent: $custom-accent,
      warn: $custom-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app
@include mat.all-component-themes($custom-theme);
