/* You can add global styles to this file, and also import other style files */
@use "./table.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./custom-theme";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html,
body {
  height: 100%;
  overflow-y: hidden;
}

.q-empty-warning {
  padding-bottom: 1rem !important;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-mdc-paginator-container {
  background-color: white !important;
}
.bg-primary {
  background-color: #143362 !important;
}
.bg-secondary {
  background-color: #f1f1f1 !important;
}
.text-primary {
  color: #ffffff !important;
}
// .q-row.q-connector {
//   padding: 100px !important;
// }
.q-row.q-connector.q-transition {
  margin-left: 60px !important;
}
.q-connecter::before {
  border-color: red !important;
}

.q-connector[_ngcontent-ng-c3462814152]:before,
[_nghost-ng-c3462814152] .q-connector[_ngcontent-ng-c3462814152]:after {
  content: "";
  left: -12px;
  border-color: rgb(127, 127, 127) !important;
  border-style: solid;
  width: 9px;
  height: calc(50% + 6px);
  position: absolute;
}

.q-empty-warning {
  font-size: 14px !important;
}
.mdc-text-field--filled {
  background-color: transparent !important;
  &:hover {
    background-color: white !important;
  }
}

/* Remove box-shadow from all tables */
table {
  box-shadow: none !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
